h1 {
  color: rgb(16, 180, 205);
  font-size: 28px;
  font-family: "Poppins", sans-serif;
  margin-bottom: 0;
}

body {
  margin-top: 50px;
  max-width: 600px;

  padding: 95px 0;
  display: block;
  margin: 0 auto;
  border-radius: 20px;
  background-image: url(https://images.unsplash.com/photo-1601134467661-3d775b999c8b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1675&q=80);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  overflow: hidden;
}

button {
  border-radius: 60%;
  line-height: 20px;
  padding: 10px;
}

img {
  width: 50px;
  height: 50px;
  display: block;
  margin: 0 auto;
}

form {
  position: relative;
  left: 300px;
  bottom: 45px;
}

p {
  font-weight: bold;
}

small {
  font-family: monospace;
}

.weather-app {
  border: 1px;
  border-radius: 5px;
  padding: 5px;
  background-color: #ffffff;
}

.card {
  width: 120px;
  line-height: 200px;
}

.city-search {
  border-radius: 40px;
  padding: 10px;
}

.search-button {
  color: rgb(16, 180, 205);
}

.description-list {
  margin-top: -20px;
}

.description-list:first-letter {
  text-transform: capitalize;
}

.row {
  margin-top: -10px;
}

.temp {
  line-height: 1px;
  font-size: 28px;
  text-align: center;
  color: rgb(16, 180, 205);
  text-decoration: none;
}

.forecast-temperature-max {
  font-weight: bold;
  color: green;
  padding: 100px;
}

.forecast-temperature-min {
  font-weight: bold;
  color: blue;
  padding: 100px;
}

.forecast-temperature {
  margin-top: -2;
}
.forecast-temperature-high {
  font-weight: bold;
  color: green;
}

.forecast-temperature-low {
  font-weight: bold;
  color: blue;
}

.temp .units {
  color: rgb(16, 180, 205);
  text-decoration: none;
  position: relative;
  top: -9px;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

.coder {
  background-color: #ffffff;
  border: 1px;
  border-radius: 5px;
  padding: 5px;
  max-width: 590px;
}
.wind-unit {
  text-transform: lowercase;
}
